*.class
*.log
*.zip

codejam/inputs/*.in
codejam/outputs/*.out
codejam/*.scala

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies